@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
/* Website Theme*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box; }

p {
  margin: 0; }

body {
  background: linear-gradient(#6d33ff, #fff);
  background-repeat: no-repeat; }

/* GRID */
body {
  font-family: 'Poppins';
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: auto; }

header {
  grid-area: 1 / 1 / 2 / 5; }

main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }

footer {
  grid-area: 4 / 1 / 5 / 5; }

@media screen and (min-height: 720px) {
  main {
    min-height: 87vh; } }

/* Navbar Styling */
.navbar {
  background-color: #fff;
  width: 100%; }

.navbar-brand {
  display: flex;
  justify-content: center;
  font-family: "Abril Fatface", cursive;
  font-size: 2rem;
  color: #2d1863;
  letter-spacing: 1px; }
  .navbar-brand span {
    color: #6d33ff; }

.nav-link {
  position: relative;
  margin: 15px;
  text-transform: uppercase;
  font-size: 0.70rem;
  letter-spacing: 0.5px;
  color: #9a91b1;
  font-weight: 500;
  opacity: 0.9;
  transition: 0.3s; }
  .nav-link::after {
    content: "";
    position: absolute;
    width: 0;
    height: 10px;
    border-radius: 5px;
    background-color: #6d33ff;
    bottom: 0;
    top: 15px;
    left: -3px;
    z-index: -1;
    opacity: 0;
    transition: .3s; }
  .nav-link:hover {
    color: #2d1863; }
    .nav-link:hover::after {
      width: 20%;
      opacity: 0.2; }

.active {
  position: relative; }
  .active::before {
    content: "";
    position: absolute;
    width: 20%;
    height: 10px;
    top: 15px;
    border-radius: 5px;
    background-color: #6d33ff;
    bottom: 0;
    left: -5px;
    z-index: -1;
    opacity: 0.3; }

@media screen and (min-width: 500px) {
  .active::before {
    width: 10%; }
  .nav-link:hover::after {
    width: 10%; } }

@media screen and (min-width: 990px) {
  .navbar-nav {
    display: flex;
    justify-content: flex-end; }
  .active::before {
    width: 100%; }
  .nav-link:hover::after {
    width: 100%; } }

/* Home Styling */
.showcase-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: calc(100vh - 120px);
  max-height: 600px;
  padding-left: 15px; }

.sub-heading {
  color: #fff;
  text-transform: uppercase;
  font-size: 0.85rem;
  letter-spacing: 0.5px;
  border-left: 3px solid #ffd438;
  padding: 0.13rem 0.75rem;
  margin-bottom: .25rem;
  font-weight: 500; }

.text {
  color: #fff;
  margin-left: 0;
  font-size: 1rem; }

.heading {
  color: #2d1863;
  font-size: 2rem;
  font-family: 'Abril Fatface'; }

.cta {
  margin-top: 15px;
  display: flex;
  align-items: center; }

.btn {
  display: inline-block;
  padding: 0.9rem 1.75rem;
  border-radius: 17px;
  background-color: #6d33ff;
  color: #fff;
  font-size: 0.85rem;
  letter-spacing: 0.4px;
  text-transform: capitalize;
  transition: 0.3s; }
  .btn:hover {
    background-color: #2d1863;
    color: #fff; }

@media screen and (min-width: 500px) {
  .heading {
    font-size: 3.5rem; }
  .text {
    font-size: 1.5rem; } }

/* About Section Styling */
.card__about {
  background-color: transparent;
  border: 0; }

.card-title {
  font-family: "Abril Fatface", cursive;
  color: #2d1863;
  font-size: 2rem; }

.about__card__t {
  color: #fff; }

.card-text span {
  color: #6d33ff;
  text-shadow: 0 0 5px #fff;
  font-weight: bold; }

.btn.secondary-btn {
  margin: 5px auto;
  position: relative;
  display: block;
  margin: auto;
  width: fit-content;
  background: transparent;
  color: #6d33ff;
  font-weight: 500;
  font-size: 0.9rem;
  letter-spacing: 0px;
  border-bottom: 2.5px solid #ffd438;
  border-radius: 0px;
  padding: 0.15rem 0; }
  .btn.secondary-btn::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 2.5px;
    bottom: -2.5px;
    left: 0;
    background-color: #6d33ff;
    transition: 0.3s ease-in-out; }
  .btn.secondary-btn:hover::before {
    width: 100%; }

@media screen and (min-width: 500px) {
  .card-title {
    font-size: 2.5rem; }
  .card-text {
    font-size: 1.2rem; }
  .card-img-top {
    max-width: 500px;
    margin: auto; } }

@media screen and (min-width: 800px) {
  .card-title {
    font-size: 3rem; } }

/* Services Section Styling */
.services {
  color: #9a91b1;
  align-items: center;
  justify-content: center; }
  .services .serv-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around; }
    .services .serv-content .card {
      box-shadow: 0 0 10px #6d33ff;
      margin-bottom: 15px;
      margin: 15px;
      background: #fff;
      text-align: center;
      border-radius: 6px;
      padding: 20px 25px;
      cursor: pointer;
      transition: 0.3s; }
      .services .serv-content .card:hover {
        background: #5928d7;
        color: #fff; }
      .services .serv-content .card i {
        font-size: 25px;
        color: #6d33ff;
        transition: 0.3s; }
      .services .serv-content .card .card-title {
        color: #6d33ff;
        font-weight: 500;
        transition: 0.3s; }

.services__heading {
  color: #2d1863;
  text-align: center;
  margin: 15px;
  font-size: 2rem;
  font-family: "Abril Fatface", cursive; }

.services .serv-content .card:hover i {
  color: #fff; }

.services .serv-content .card:hover .card-title {
  color: #fff; }

@media screen and (min-width: 500px) {
  .services__heading {
    font-size: 2.5rem; } }

@media screen and (min-width: 800px) {
  .services__heading {
    font-size: 3rem; }
  .services .serv-content .card {
    width: calc(50% - 50px); } }

/* Skills Section Styling */
.skills__heading {
  font-family: 'Abril Fatface';
  color: #2d1863;
  text-align: center;
  margin: 15px;
  font-size: 2rem; }

.skills-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between; }
  .skills-content .column {
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .skills-content .left .text {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 10px;
    text-align: justify; }
  .skills-content .left a {
    text-decoration: none;
    display: inline-block;
    background: #6d33ff;
    color: #fff;
    width: 150px;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    padding: 8px 16px;
    margin: 10px auto;
    border-radius: 6px;
    border: solid 2px #6d33ff;
    transition: all 0.3s ease; }
    .skills-content .left a:hover {
      color: #6d33ff;
      background: none; }
  .skills-content .right {
    width: 100%; }
    .skills-content .right .bars {
      margin-bottom: 15px; }
    .skills-content .right span {
      font-weight: 500;
      font-size: 18px; }
  .skills-content .progress-bar {
    background-color: #6d33ff; }

@media screen and (min-width: 500px) {
  .skills__heading {
    font-size: 3rem; } }

@media screen and (min-width: 800px) {
  .skills .skills-content .column {
    width: calc(50% - 30px); }
  .skills .skills-content .left .text {
    margin: 20px; }
  .skills .skills-content .left {
    align-items: center; } }

/* Contact Section Stying */
.contact-info {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  text-align: center; }
  .contact-info .sub-heading {
    color: #fff;
    text-transform: uppercase;
    font-size: 0.85rem;
    letter-spacing: 0.5px;
    padding: 0.13rem 0.75rem;
    margin-bottom: 1rem;
    font-weight: 500; }
  .contact-info .mail {
    color: #6d33ff;
    font-weight: 500;
    font-size: 1.1rem; }
    .contact-info .mail i {
      display: inline-block;
      font-size: 1.5rem;
      margin-left: 2px;
      transform: translateY(3px);
      transition: 0.3s margin-left; }
    .contact-info .mail:hover {
      color: #5928d7; }
      .contact-info .mail:hover:hover i {
        margin-left: 10px; }

.contact-form {
  background-color: #fff;
  border-radius: 20px;
  padding: 3.5rem 3rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  margin: 15px; }
  .contact-form h3 {
    color: #2d1863;
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 1.6rem;
    line-height: 0.9; }

.maps {
  width: 300px;
  height: 200px;
  margin: 15px; }

iframe {
  width: 100%;
  height: 100%; }

.form-input {
  display: inline-block;
  padding: 0.9rem 1.5rem;
  background: #f8f5ff;
  border: 2px solid #f8f5ff;
  width: 100%;
  border-radius: 17px;
  font-family: inherit;
  font-size: 0.85rem;
  color: #2d1863;
  outline: none;
  transition: 0.3s; }
  .form-input::placeholder {
    color: #9a91b1; }
  .form-input:hover {
    filter: brightness(97%); }
  .form-input:valid {
    filter: brightness(100%);
    background: #f4f0ff;
    border-color: #6d33ff; }

textarea.form-input {
  resize: none;
  min-height: 170px; }

.contact-form .form-input {
  margin-bottom: 1.5rem; }

@media screen and (min-width: 500px) {
  .maps {
    width: 350px;
    height: 250px; } }

@media screen and (min-width: 800px) {
  .contact-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr); }
  .maps {
    width: 400px;
    height: 300px; } }

/* footer section styling */
footer {
  background-color: #f4f0ff;
  text-align: center;
  height: 55px;
  margin: 0; }
  footer .footer__data {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; }
  footer .text__footer {
    color: black; }
    footer .text__footer a {
      color: #6d33ff;
      text-decoration: none; }
      footer .text__footer a:hover {
        text-decoration: underline; }
  footer .footer__links {
    padding: 15px 5px;
    transition: 0.3s; }
    footer .footer__links i {
      color: #6d33ff;
      font-size: 20px;
      transition: 0.3s; }
      footer .footer__links i:hover {
        color: #2d1863; }

@media screen and (min-width: 500px) {
  .footer__data {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; } }
