@import './pages/base';
@import './components/navbar';
@import './pages/home';
@import './pages/about';
@import './pages/services';
@import './pages/skills';
@import './pages/contact';
@import './components/footer';
@import './pages/404';