@import './components/base';
@import './components/navbar';
@import './components/home';
@import './components/about';
@import './components/services';
@import './components/skills';
@import './components/contact';
@import './components/footer';
@import './components/media';