@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

/* Website Theme*/
:root {
    --hue-1: 257;
    --hue-2: 47;
    --bg-color: hsl(var(--hue-1), 100%, 97%);
    --main-color-1: hsl(var(--hue-1), 100%, 60%);
    --main-color-dark-1: hsl(var(--hue-1), 69%, 50%);
    --main-color-2: hsl(var(--hue-2), 100%, 61%);
    --main-color-dark-2: hsl(var(--hue-2), 82%, 55%);
    --bg-color-1: hsl(var(--hue-1), 100%, 97%);
    --bg-color-2: #fff;
    --bg-color-3: hsl(var(--hue-1), 100%, 98%);
    --bg-color-transparent: rgba(255, 255, 255, 0.6);
    --heading-color: hsl(var(--hue-1), 61%, 24%);
    --text-color: hsl(var(--hue-1), 17%, 63%)
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background-repeat: no-repeat;
    font-family: "Poppins", sans-serif;

}

/* GRID */
body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
}

header {
    grid-area: 1 / 1 / 2 / 5;
}

main {
    grid-area: 2 / 1 / 4 / 5;
    min-height: 100vh;
}

footer {
    grid-area: 4 / 1 / 5 / 5;
}

/* Navbar Styling */
.navbar {
    background-color: white;
    width: 100%;

}

/* ===== LOGO ===== */

.logo {
    display: flex;
    justify-content: center;
    font-family: "Abril Fatface", cursive;
    font-size: 2rem;
    color: var(--heading-color);
    letter-spacing: 1px;
}

.logo span {
    color: var(--main-color-1);
}

/* ===== LIKS ===== */
.links ul {
    display: flex;
    justify-content: center;
}

.nav-link {
    position: relative;
    margin: 15px;
    text-transform: uppercase;
    font-size: 0.70rem;
    letter-spacing: 0.5px;
    color: var(--text-color);
    font-weight: 500;
    opacity: 0.9;
    transition: 0.3s;
}


/* Showcase Area Styling */
.sub-heading {
    color: #fff;
    text-transform: uppercase;
    font-size: 0.85rem;
    letter-spacing: 0.5px;
    border-left: 3px solid var(--main-color-2);
    padding: 0.13rem 0.75rem;
    margin-bottom: .25rem;
    font-weight: 500;
}

.text {
    color: #fff;
    margin-left: 0;
    font-size: 0.9rem;
}

.showcase-area {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.showcase-info {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: calc(100vh - 120px);
    max-height: 600px;
    padding-left: 15px;
}

.heading {
    font-size: 2rem;
}

.text {
    font-size: 1rem;
}

.cta {
    margin-top: 15px;
    display: flex;
    align-items: center;
}

.btn {
    display: inline-block;
    padding: 0.9rem 1.75rem;
    border-radius: 17px;
    background-color: var(--main-color-1);
    color: #fff;
    font-size: 0.85rem;
    letter-spacing: 0.4px;
    text-transform: capitalize;
    transition: 0.3s;
}

/* About Section Styling */
.showcase-info-about {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading__about {
    color: white;
    font-size: 2rem
}

.text__about {
    max-width: 700px;
    color: black;
    font-size: .95rem;
    text-align: center;
}

.text__about .about__span {
    color: white;
}

.showcase-info-about {
    margin: 50px;
}

.showcase-info-about span {
    color: var(--main-color-1);
}

.btn.secondary-btn {
    margin: 5px auto;
    position: relative;
    display: block;
    margin: auto;
    width: fit-content;
    background: transparent;
    color: var(--main-color-1);
    font-weight: 500;
    font-size: 0.9rem;
    letter-spacing: 0px;
    border-bottom: 2.5px solid var(--main-color-2);
    border-radius: 0px;
    padding: 0.15rem 0;
}

.image__about {
    width: 200px;
    height: 200px;
    margin: 5px 0;
}

.person {
    width: 100%;
    height: 100%;
}

/* Services Section Styling */

.services__heading {
    color: black;
    text-align: center;
    margin: 15px;
    font-size: 2rem;
}

.services {
    color: var(--text-color);
    align-items: center;
    justify-content: center;
}

.services .serv-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.services .serv-content .card {
    margin-bottom: 15px;
    margin: 15px;
    background: white;
    text-align: center;
    border-radius: 6px;
    padding: 20px 25px;
    cursor: pointer;
    transition: 0.3s;
}

.services .serv-content .card i {
    font-size: 25px;
    color: var(--main-color-1);
    transition: 0.3s;
}

.services .serv-content .card .text {
    color: var(--main-color-1);
    font-weight: 500;
    transition: 0.3s;
}

.services .serv-content .card:hover .text {
    color: #fff;
}

/* Skills Section Styling */
.skills-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.skills .skills-content .column {
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.skills .skills-content .left .text {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 10px;
    text-align: center;
}

.skills__heading {
    color: black;
    text-align: center;
    margin: 15px;
    font-size: 2rem;
}

.skills .skills-content .left p {
    text-align: justify;
}

.skills .skills-content .left a {
    display: inline-block;
    background: var(--main-color-1);
    color: #fff;
    width: 150px;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    padding: 8px 16px;
    margin: 10px auto;
    border-radius: 6px;
    border: solid 2px var(--main-color-1);
    transition: all 0.3s ease;
}


.skills .skills-content .right .bars {
    margin-bottom: 15px;
}

.skills .skills-content .right {
    width: 100%;
}

.skills .skills-content .right .infor {
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}

.skills .skills-content .right span {
    font-weight: 500;
    font-size: 18px;
}

.skills .skills-content .right .line {
    height: 5px;
    width: 100%;
    background: #fff;
    position: relative;
}


.skills-content .right .html::before {
    width: 90%;
}

.skills-content .right .css::before {
    width: 60%;
}

.skills-content .right .js::before {
    width: 40%;
}

.skills-content .right .php::before {
    width: 10%;
}

.skills-content .right .py::before {
    width: 20%;
}

/* Contact Section Stying */

.contact-info {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-info {
    align-content: center;
    text-align: center;
}

.mail {
    color: var(--main-color-1);
    font-weight: 500;
    font-size: 1.1rem;
}

.mail i {
    display: inline-block;
    font-size: 1.5rem;
    margin-left: 2px;
    transform: translateY(3px);
    transition: 0.3s margin-left;
}

.contact-form {
    background-color: var(--bg-color-2);
    border-radius: 20px;
    padding: 3.5rem 3rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    margin: 15px;
}

.contact-form h3 {
    color: var(--heading-color);
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 1.6rem;
    line-height: 0.9;
}

.sub-heading-contact {
    color: #fff;
    text-transform: uppercase;
    font-size: 0.85rem;
    letter-spacing: 0.5px;
    padding: 0.13rem 0.75rem;
    margin-bottom: 1rem;
    font-weight: 500;
}

.form-input {
    display: inline-block;
    padding: 0.9rem 1.5rem;
    background: var(--bg-color-3);
    border: 2px solid var(--bg-color-3);
    width: 100%;
    border-radius: 17px;
    font-family: inherit;
    font-size: 0.85rem;
    color: var(--heading-color);
    outline: none;
    transition: 0.3s;
}

textarea.form-input {
    resize: none;
    min-height: 170px;
}

.contact-form .form-input {
    margin-bottom: 1.5rem;
}

.maps {
    width: 300px;
    height: 200px;
    margin: 15px;
}

iframe {
    width: 100%;
    height: 100%;
}

/* footer section styling */

footer {
    color: var(--text-color);
    background-color: white;
    text-align: center;
    height: 55px;
    margin: 0;
}

.footer__data {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.text__footer span a {
    color: var(--main-color-1);
}

footer .text__footer span a:hover {
    text-decoration: underline;
}

.footer__links {
    padding: 15px 5px;
    transition: 0.3s;
}

.fa-github {
    padding-right: 5px;
}

.footer__links i {
    color: var(--main-color-1);
    font-size: 20px;
    transition: 0.3s;
}

.text__footer {
    color: black;
}

@media screen and (min-height: 720px) {
    main {
        min-height: 87vh;
    }
}

@media screen and (min-width: 500px) {
    .text__about {
        font-size: .85rem;
    }

    .logo {
        font-size: 2.5rem;
    }

    .showcase-info {
        margin-left: 50px;
    }

    .heading {
        font-size: 3.5rem;
    }

    .text {
        font-size: 1.5rem;
    }

    .footer__data {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .heading__about {
        font-size: 3rem
    }

    .image__about {
        width: 300px;
        height: 300px;
        margin: 15px 0;
    }

    .maps {
        width: 350px;
        height: 250px;
    }
}

@media screen and (min-width: 800px) {
    .services .serv-content .card {
        width: calc(50% - 50px);
    }

    .skills .skills-content .column {
        width: calc(50% - 30px);
    }

    .skills .skills-content .left a {
        margin: 20px;
    }

    .skills .skills-content .left .text {
        text-align: justify;
    }

    .skills .skills-content .left {
        align-items: center;
    }

    .contact-section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .maps {
        width: 400px;
        height: 300px;
    }
}