@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

/* Website Theme*/
:root{
    --hue-1: 257;
    --hue-2: 47;
    --bg-color: hsl(var(--hue-1), 100%, 97%);
    --main-color-1: hsl(var(--hue-1), 100%, 60%);
    --main-color-dark-1: hsl(var(--hue-1), 69%, 50%);
    --main-color-2: hsl(var(--hue-2), 100%, 61%);
    --main-color-dark-2: hsl(var(--hue-2), 82%, 55%);
    --bg-color-1: hsl(var(--hue-1), 100%, 97%);
    --bg-color-2: #fff;
    --bg-color-3: hsl(var(--hue-1), 100%, 98%);
    --bg-color-transparent: rgba(255, 255, 255, 0.6);
    --heading-color: hsl(var(--hue-1), 61%, 24%);
    --text-color: hsl(var(--hue-1), 17%, 63%)
}

*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    background: linear-gradient(#6d33ff, #fff);
    min-height: 100vh;
    position: relative;
    overflow-x: hidden;
    background-color: var(--bg-color);
    font-family: "Poppins", sans-serif;
}

/* GRID */
body{
    max-height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

header{
    grid-area: 1 / 1 / 2 / 5;
}

main{
    grid-area: 2 / 1 / 5 / 5;
}

footer{
    grid-area: 5 / 1 / 6 / 5;
}

/* Navbar Styling */
.container{
    position: relative;
    width: 100vw;
}

.logo{
    margin-left: 120px;
    margin-right: 1.5rem;
    font-family: "Abril Fatface", cursive;
    font-size: 1.5rem;
    color: var(--heading-color);
    letter-spacing: 1px;
}

.logo span{
    color: var(--main-color-1);
}

.sub-heading{
    color: #fff;
    text-transform: uppercase;
    font-size: 0.85rem;
    letter-spacing: 0.5px;
    border-left: 3px solid var(--main-color-2);
    padding: 0.13rem 0.75rem;
    margin-bottom: 1rem;
    font-weight: 500;
}

.heading{
    color: var(--heading-color);
    font-size: 3rem;
    font-family: "Abril Fatface", cursive;
    font-weight: 400;
    line-height: 1.3;
}

.text{
    color: #fff;
    margin-left: 0;
    font-size: 0.9rem;
}

nav.container{
    background-color: var(--bg-color-2);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

header .logo{
    height: 120px;
    line-height: 120px;
}

.links{
    display: flex;
    justify-content: space-between;
}

.links ul{
    display: flex;
    align-items: center;
    width: 100%;
}

.nav-link{
    position: relative;
    display: inline-block;
    margin: 0 1rem;
    text-transform: uppercase;
    font-size: 0.75rem;
    letter-spacing: 0.5px;
    color: var(--text-color);
    font-weight: 500;
    opacity: 0.9;
    transition: 0.3s;
}

.nav-link::after{
    content: "";
    position: absolute;
    width: 0;
    height: 10px;
    border-radius: 5px;
    background-color: var(--main-color-1);
    bottom: 0;
    left: -5px;
    z-index: -1;
    opacity: 0;
    transition: .3s;
}

.active{
    position: relative;
    display: inline-block;
    margin: 0 1rem;
    text-transform: uppercase;
    font-size: 0.75rem;
    letter-spacing: 0.5px;
    color: var(--text-color);
    font-weight: 500;
    opacity: 0.9;
    transition: 0.3s;
}

.active::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background-color: var(--main-color-1);
    bottom: 0;
    left: -5px;
    z-index: -1;
    opacity: 0.3;
}

.nav-link:hover{
    color: var(--heading-color);
}

.nav-link:hover::after{
    width: 100%;
    opacity: 0.2;
}


/* Showcase Area Styling */
.showcase-area{
    width: 100%;
    overflow: hidden;
    position: relative;
}

.showcase-area .container{
    display: grid;
    grid-template-columns: 1fr 550px;
    height: calc(100vh - 120px);
    max-height: 600px;
    align-items: center;
}

.showcase-area .heading{
    font-size: 3.5rem;
}

.showcase-area .text{
    font-size: 1rem;
}

.showcase-area .showcase-info{
    margin-left: 150px;
}

.showcase-info span{
    color: var(--main-color-1);
}

.cta{
    margin-top: 15px;
    display: flex;
    align-items: center;
}

.btn{
    display: inline-block;
    padding: 0.9rem 1.75rem;
    border-radius: 17px;
    background-color: var(--main-color-1);
    color: #fff;
    font-size: 0.85rem;
    letter-spacing: 0.4px;
    text-transform: capitalize;
    transition: 0.3s;
}

.btn:hover{
    background-color: var(--heading-color);
}

.btn.secondary-btn{
    margin-top: 5px;
    position: relative;
    background: transparent;
    color: var(--main-color-1);
    font-weight: 500;
    font-size: 0.9rem;
    letter-spacing: 0px;
    border-bottom: 2.5px solid var(--main-color-2);
    border-radius: 0px;
    padding: 0.15rem 0;
}

.btn.secondary-btn::before{
    content: "";
    position: absolute;
    width: 0%;
    height: 2.5px;
    bottom: -2.5px;
    left: 0;
    background-color: var(--main-color-1);
    transition: 0.3s ease-in-out;
}

.btn.secondary-btn:hover::before{
    width: 100%;
}

/* About Section Styling */

.showcase-info-about{
    margin:  50px;
}

.showcase-info-about span{
    color: var(--main-color-1);
}

/* Services Section Styling */
.heading.services-h1{
    text-align: center;
    margin-bottom: 15px;
}
.services{
    color: var(--text-color);
    margin: 50px;
    align-items: center;
    justify-content: center;
}

.services .serv-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.services .serv-content .card{
    margin-bottom: 15px;
    width: calc(50% - 50px);
    background: white;
    text-align: center;
    border-radius: 6px;
    padding: 20px 25px;
    cursor: pointer;
    transition: 0.3s;
}

.services .serv-content .card:hover{
    background: var(--main-color-dark-1);
    color: #fff;
}

.services .serv-content .card i{
    font-size: 50px;
    color: var(--main-color-1);
    transition: 0.3s;
}

.services .serv-content .card:hover i{
    color: #fff;
}

.services .serv-content .card .text{
    color: var(--main-color-1);
    font-weight: 500;
    margin: 10px 0 7px 0;
    transition: 0.3s;
}

.services .serv-content .card:hover .text{
    color: #fff;
}

/* Skills Section Styling */
.skills .skills-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 150px;
}

.skills .skills-content .column{
    width: calc(50% - 30px);
}

.skills .skills-content .left .text{
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 10px; 
}

.skills .skills-content .left p{
    text-align: justify;
}

.skills .skills-content .left a{
    display: inline-block;
    background: var(--main-color-1);
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 16px;
    margin-top: 20px;
    border-radius: 6px;
    border: solid 2px var(--main-color-1);
    transition: all 0.3s ease; 
}

.skills .skills-content .left a:hover{
    color: var(--main-color-1);
    background: none;
}

.skills .skills-content .right .bars{
    margin-bottom: 15px;
}

.skills .skills-content .right .infor{
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}

.skills .skills-content .right span{
    font-weight: 500;
    font-size: 18px;
}

.skills .skills-content .right .line{
    height: 5px;
    width: 100%;
    background: #fff;
    position: relative;
}

.skills .skills-content .right .line::before{
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: var(--main-color-1);
}

.skills-content .right .html::before{
    width: 90%;
}

.skills-content .right .css::before{
    width: 60%;
}

.skills-content .right .js::before{
    width: 40%;
}

.skills-content .right .php::before{
    width: 10%;
}
.skills-content .right .py::before{
    width: 20%;
}

/* Contact Section Stying */
.contact{
    margin: 50px;
}

.contact .container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4rem;
}
.contact-info{
    align-content: center;
    text-align: center;
}
.mail{
    color: var(--main-color-1);
    font-weight: 500;
    font-size: 1.1rem;
}

.mail i{
    display: inline-block;
    font-size: 1.5rem;
    margin-left: 2px;
    transform: translateY(3px);
    transition: 0.3s margin-left;
}

.mail:hover{
    color: var(--main-color-dark-1);
}

.mail:hover i{
    margin-left: 10px;
}

.contact-form{
    background-color: var(--bg-color-2);
    border-radius: 20px;
    padding: 3.5rem 3rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.contact-form h3{
    color: var(--heading-color);
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 1.6rem;
    line-height: 0.9;
}
.sub-heading-contact{
    color: #fff;
    text-transform: uppercase;
    font-size: 0.85rem;
    letter-spacing: 0.5px;
    padding: 0.13rem 0.75rem;
    margin-bottom: 1rem;
    font-weight: 500;
}
.sub-heading-contact span{
    color: var(--main-color-2);
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    padding: 0.13rem 0.75rem;
    margin-bottom: 1rem;
    font-weight: 500;
}
.form-input{
    display: inline-block;
    padding: 0.9rem 1.5rem;
    background: var(--bg-color-3);
    border: 2px solid var(--bg-color-3);
    width: 100%;
    border-radius: 17px;
    font-family: inherit;
    font-size: 0.85rem;
    color: var(--heading-color);
    outline: none;
    transition: 0.3s;
}

.form-input::placeholder{
    color: var(--text-color);
}

.form-input:hover{
    filter: brightness(97%);
}

.form-input:valid {
    filter: brightness(100%);
    background: var(--bg-color-1);
    border-color: var(--main-color-1);
}

textarea.form-input{
    resize: none;
    min-height: 170px;
}

.contact-form .form-input{
    margin-bottom: 1.5rem;
}
.maps{
    margin-top: 15px;
    align-items: center;
}














/* footer section styling */
footer .container{
    margin-left: 0;
    color: var(--text-color);
    background-color: var(--bg-color-2);
    padding: 20px 23px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
}

footer span a{
    color: var(--main-color-1);
}

footer span a:hover{
    text-decoration: underline;
}

.footer__links{
    margin-left: 0;
    padding: 17px 23px;
    text-align: left;
    position: absolute;
    bottom: 0;
    transition: 0.3s;
}

.fa-github{
    padding-right: 5px;
}
.footer__links i{
    color: var(--main-color-1);
    font-size: 20px;
    transition: 0.3s;
}

.footer__links i:hover{
    color: var(--heading-color);
}

/* ==== MediaQ ==== */
@media screen and (max-width: 880px){
    .showcase-area .container{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        margin: 15px;
    }
.showcase-area .showcase-info{
        margin: 5px;
    }

    .showcase-area .heading{
        font-size: 2.5rem;
    }

    .showcase-area .text{
        font-size: 1rem;
        margin: 5px;
    }
}

@media screen and (max-width: 660px){
    .container{
        justify-content: center;
    }
    .logo{
        margin-left: 0;
    }
}
