@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

/* Website Theme*/

$hue-1: 257;
$hue-2: 47;
$bg-color: hsl($hue-1, 100%, 97%);
$main-color-1: hsl($hue-1, 100%, 60%);
$main-color-dark-1: hsl($hue-1, 69%, 50%);
$main-color-2: hsl($hue-2, 100%, 61%);
$main-color-dark-2: hsl($hue-2, 82%, 55%);
$bg-color-1: hsl($hue-1, 100%, 97%);
$bg-color-2-w: #fff;
$bg-color-3: hsl($hue-1, 100%, 98%);
$bg-color-transparent: rgba(255, 255, 255, 0.6);
$heading-color: hsl($hue-1, 61%, 24%);
$text-color: hsl($hue-1, 17%, 63%);

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

p {
    margin: 0;
}

body {
    background: linear-gradient(#6d33ff, #fff);
    background-repeat: no-repeat;
    overflow: hidden;
}
/* GRID */
body {
    font-family: 'Poppins';
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: auto;
}

header {
    grid-area: 1 / 1 / 2 / 5;
}

main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    grid-area: 4 / 1 / 5 / 5;
}

@media screen and (min-height: 720px) {
    main {
        min-height: 87vh;
    }
}