/* Home Styling */
.showcase-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: calc(100vh - 120px);
    max-height: 600px;
    padding-left: 15px;
}

.sub-heading {
    color: $bg-color-2-w;
    text-transform: uppercase;
    font-size: 0.85rem;
    letter-spacing: 0.5px;
    border-left: 3px solid $main-color-2;
    padding: 0.13rem 0.75rem;
    margin-bottom: .25rem;
    font-weight: 500;
}

.text {
    color: $bg-color-2-w;
    margin-left: 0;
    font-size: 1rem;
}

.heading {
    color: $heading-color;
    font-size: 2rem;
    font-family: 'Abril Fatface';
}

.cta {
    margin-top: 15px;
    display: flex;
    align-items: center;
}

.btn {
    display: inline-block;
    padding: 0.9rem 1.75rem;
    border-radius: 17px;
    background-color: $main-color-1;
    color: $bg-color-2-w;
    font-size: 0.85rem;
    letter-spacing: 0.4px;
    text-transform: capitalize;
    transition: 0.3s;

    &:hover {
        background-color: $heading-color;
        color: $bg-color-2-w;
    }
}

@media screen and (min-width: 500px) {
    .heading {
        font-size: 3.5rem;
    }

    .text {
        font-size: 1.5rem;
    }
}