/* Skills Section Styling */
.skills__heading {
    font-family: 'Abril Fatface';
    color: $heading-color;
    text-align: center;
    margin: 15px;
    font-size: 2rem;
}

.skills-content {
    @include flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .column {
        margin: 15px;
        flex-direction: column;
        justify-content: center;
    }

    .left {
        .text {
            font-size: 1rem;
            font-weight: 500;
            text-align: justify;
        }

        a {
            text-decoration: none;
            display: inline-block;
            background: $main-color-1;
            color: #fff;
            width: 150px;
            font-size: 18px;
            font-weight: 500;
            margin-left: 20px;
            text-align: center;
            padding: 8px 16px;

            border-radius: 6px;
            border: solid 2px $main-color-1;
            transition: all 0.3s ease;

            &:hover {
                color: $main-color-1;
                background: none;
            }

        }

    }

    .right {
        margin-top: 10px;
        width: 100%;

        .bars {
            margin-bottom: 15px;
        }

        span {
            font-weight: 500;
            font-size: 18px;
        }
    }

    .progress-bar {
        background-color: $main-color-1;
    }
}

@media screen and (min-width: 500px) {
    .skills__heading {
        font-size: 3rem;
    }
}

@media screen and (min-width: 800px) {

    .skills .skills-content .column {
        width: calc(50% - 30px);
    }

    .skills .skills-content .left .text {
        margin: 20px;
    }

    .skills .skills-content .left {
        align-items: center;
    }
}

@media screen and (min-width: 1500px) {
    .skills-content{
        display: flex;
        align-items: baseline;
    }
}