/* footer section styling */

footer {
    background-color: $bg-color;
    text-align: center;
    height: 55px;
    margin: 0;

    .footer__data {
        width: 100%;
        @include flex;
        justify-content: center;
    }

    .text__footer {
        color: black;

        a {
            color: $main-color-1;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .footer__links {
        padding: 15px 5px;

        i {
            color: $main-color-1;
            font-size: 20px;
            transition: 0.3s;

            &:hover {
                color: $heading-color;
            }
        }
    }
}
